version: "3.9"
services:
  api:
    build: ./livro-servidor
    container_name: livraria_api
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      MONGO_URL: mongodb://mongo:27017/livraria
    volumes:
      - ./livro-servidor:/app
    restart: always

  mongo:
    image: mongo:6
    container_name: livraria_mongo
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_DATABASE: livraria
    volumes:
      - mongo_data:/data/db
    restart: always

  mongo-express:
    image: mongo-express
    container_name: livraria_mongo_express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    depends_on:
      - mongo
    restart: always

volumes:
  mongo_data:
